<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
 <%= link_to 'Transaction', new_transaction_path(current_user) %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
<h1>Hello World !</h1>
<%= simple_form_for :search, url: root_path, method: "GET" do |f| %>
  <%= f.date_select :year, { discard_day: true} %>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

<div class="container">   
    <h3>Budget</h3>   
    <td>Income: 1234</td>  
      <div>   
        <%= link_to 'Add Transaction', new_transaction_path %>   
      </div>   
      <br>   
    <div>
      <h1>Expenses</h1>
      <table border="2">   
        <thead>   
          <tr>      
            <th>Name</th>   
            <th>Amount</th>   
            <th>File Upload</th>   
          </tr>   
        </thead>   
        <tbody>   
          <% @transaction.each do |item| %>  
            <% item.expenses.each do |expense| %>   
              <tr>   
                <td><%= expense.name %></td>   
                <td><%= expense.amount %></td>   
                <td><%= expense.file_upload %></td>   
                  <div>   
                  <td>     
                    <%= link_to 'Edit', edit_transaction_path(item) %>   
                    <%= link_to 'Delete', transactions_path(item), method: :delete %>   
                  </div>   
                </td>   
              </tr> 
            <% end %>   
          <% end %>   
        </tbody>   
      </table>   
    </div>
</div>  

