<div class='w-4/5 flex flex-col bg-white p-5'>
  <div class='flex flex-col h-1/4 w-full mb-6'>
      <h1 class='text-3xl mb-4 font-serif'>Your Budgets</h1>
      <%= simple_form_for :search, url: root_path, method: "GET" do |f| %>
        <div class='flex flex-row items-center w-full rounded-lg shadow-md py-5'>

          <div class='flex flex-col justify-center w-1/6 items-center'>
            <h1 class='text-blue-500 text-2xl'><%= @income&.total.to_f - @transaction&.total.to_f %></h1>
            <p class='text-lg text-gray-500'>Balance</p>
          </div>
          <div class='flex flex-col justify-center w-1/6 items-center'>
            <h1 class='text-green-500 text-2xl'>+<%= @income&.total.to_f %></h1>
            <p class='text-lg text-gray-500'>Income</p>
          </div>
          <div class='flex flex-col justify-center w-1/6 items-center'>
            <h1 class='text-red-500 text-2xl'>-<%= @transaction&.total.to_f %></h1>
            <p class='text-lg text-gray-500'>Transaction</p>
          </div>

          <%= f.date_select :year, { discard_day: true}, class: 'mr-4 rounded-lg border-indigo-500 text-indigo-500 w-1/7' %>
          <%= f.button :submit, "Search", class: 'bg-indigo-500 rounded-lg p-2 text-white w-1/6 h-fit' %>
        </div>
      <% end %>
  </div>
  <div class='overflow-scroll'>
    <table class='w-full bg-white rounded_lg shadow-md'>   
      <thead class='bg-gray-100'>   
        <tr>      
          <td class='text-left p-2 text-stone-500 font-bold'>Number</td>   
          <td class='text-left p-2 text-stone-500 font-bold'>Name</td>   
          <td class='text-left p-2 text-stone-500 font-bold'>Amount</td>     
          <td class='text-left p-2 text-stone-500 font-bold'>Type</td>     
        </tr>   
      </thead>   
      <tbody>    
          <% @transactions&.expenses&.each_with_index do |expense, index| %>   
              <tr class="border border-purple-50 shadow-md <%= index.odd? ? 'bg-gray-100' : 'bg-white' %>" >  
                <td class='text-left p-2 text-stone-500'><%= expense.id %></td>
                <td class='text-left p-2 text-stone-500'><%= expense.name %></td>
                <td class='text-left p-2 text-red-500'>-<%= expense.amount %></td>
                <td class='text-left p-2 text-red-500'><span class='rounded-full text-[10px] bg-red-200 border-red-400 px-2 py-1'>transaction</span></td>
              </tr> 
          <% end %>  

          <% @incomes&.income_details&.each_with_index do |ic, index| %>   
              <tr class="border border-purple-50 shadow-md <%= index.odd? ? 'bg-gray-100' : 'bg-white' %>" >  
                <td class='text-left p-2 text-stone-500'><%= ic.id %></td>
                <td class='text-left p-2 text-stone-500'><%= ic.name %></td>
                <td class='text-left p-2 text-green-500'>+<%= ic.amount %></td>
                <td class='text-left p-2 text-green-500'><span class='rounded-full text-[10px] bg-green-200 border-green-400 p-2 py-1'>income</span></td>
              </tr> 
          <% end %>      

        </tbody>   
      </table>  
  </div>
</div>