<div class='bg-gradient-to-r from-indigo-300 py-9 via-purple-100 to-pink-200 h-screen w-full flex justify-start items-center flex-col'>
  <div class='w-11/12 shadow-md h-full backdrop-filter backdrop-blur-md bg-white/40 flex flex-row'>
    
    <div class='w-1/5 flex flex-col p-5'>
      <div class='flex flex-col items-center justify-center h-1/4 w-full'>
        <img class='w-20 h-20 mr-4' src='https://static.moneylover.me/img/icon/icon.png' alt='logo' />
        <h1 class='text-lg'><%= current_user.email %></h1>
      </div>
      
      <div class='flex flex-row items-center mb-4'>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path class='stroke-sky-600' stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
        </svg>
        <span class='ml-3'><%= link_to 'Overviews', home_index_path, class: 'text-sky-600 font-semibold' %></span>
      </div>

      <div class='flex flex-row items-center mb-4'>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a2.25 2.25 0 00-2.25-2.25H15a3 3 0 11-6 0H5.25A2.25 2.25 0 003 12m18 0v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6m18 0V9M3 12V9m18 0a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 9m18 0V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v3" />
        </svg>
        <span class='ml-3'><%= link_to 'Income', incomes_path(current_user), class: 'text-stone-500' %></span>
      </div>

      <div class='flex flex-row items-center mb-4'>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class='ml-3'><%= link_to 'Transaction', transactions_path(current_user), class: 'text-stone-500' %></span>
      </div>

      <div class='flex flex-row items-center mb-4'>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
          </svg>
          <span class='ml-3'><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'text-stone-500' %></span>
      </div>
    </div>

    <div class='w-4/5 flex flex-col bg-white p-5'>
      <div class='flex flex-col h-1/4 w-full'>
          <h1 class='text-3xl mb-4 font-serif'>Your Budgets</h1>
          <%= simple_form_for :search, url: root_path, method: "GET" do |f| %>
            <div class='flex flex-row items-center w-full rounded-lg shadow-md py-5'>

              <div class='flex flex-col justify-center w-1/6 items-center'>
                <h1 class='text-blue-500 text-2xl'><%= @income&.total.to_f - @transaction&.total.to_f %></h1>
                <p class='text-lg text-gray-500'>Balance</p>
              </div>
              <div class='flex flex-col justify-center w-1/6 items-center'>
                <h1 class='text-green-500 text-2xl'>+<%= @income&.total.to_f %></h1>
                <p class='text-lg text-gray-500'>Income</p>
              </div>
              <div class='flex flex-col justify-center w-1/6 items-center'>
                <h1 class='text-red-500 text-2xl'>-<%= @transaction&.total.to_f %></h1>
                <p class='text-lg text-gray-500'>Transaction</p>
              </div>

              <%= f.date_select :year, { discard_day: true}, class: 'mr-4 rounded-lg border-indigo-500 text-indigo-500 w-1/7' %>
              <%= f.button :submit, "Search", class: 'bg-indigo-500 rounded-lg p-2 text-white w-1/6 h-fit' %>
            </div>
          <% end %>
      </div>
      <div>
        <table class='w-full bg-white rounded_lg shadow-md'>   
          <thead class='bg-gray-100'>   
            <tr>      
              <td class='text-left p-2 text-stone-500 font-bold'>Name</td>   
              <td class='text-left p-2 text-stone-500 font-bold'>Amount</td>     
              <td class='text-left p-2 text-stone-500 font-bold'>Type</td>     
            </tr>   
          </thead>   
          <tbody>    
              <% @transaction&.expenses&.each_with_index do |expense, index| %>   
                  <tr class="border border-purple-50 shadow-md <%= index.odd? ? 'bg-gray-100' : 'bg-white' %>" >  
                    <td class='text-left p-2 text-stone-500'><%= expense.name %></td>
                    <td class='text-left p-2 text-red-500'>-<%= expense.amount %></td>
                    <td class='text-left p-2 text-red-500'><span class='rounded-full text-[10px] bg-red-200 border-red-400 px-2 py-1'>transaction</span></td>
                  </tr> 
              <% end %>  

              <% @income&.income_details&.each_with_index do |ic, index| %>   
                  <tr class="border border-purple-50 shadow-md <%= index.odd? ? 'bg-gray-100' : 'bg-white' %>" >  
                    <td class='text-left p-2 text-stone-500'><%= ic.name %></td>
                    <td class='text-left p-2 text-green-500'>+<%= ic.amount %></td>
                    <td class='text-left p-2 text-green-500'><span class='rounded-full text-[10px] bg-green-200 border-green-400 p-2 py-1'>income</span></td>
                  </tr> 
              <% end %>      

            </tbody>   
          </table>  
      </div>
    </div>
  </div> 
</div>