<div class='bg-gradient-to-r from-indigo-500 h-screen w-screen flex justify-start items-center flex-col'>
  <div class='px-5 flex flex-row justify-between items-center bg-white h-20 w-full p-4'>
    <div class='flex flex-row items-center'>
      <img class='w-10 h-10 mr-4' src='https://static.moneylover.me/img/icon/icon.png' alt='logo' />
      <h1><%= current_user.email %></h1>
    </div>
    <div class='flex flex-row items-center'>
      <% if user_signed_in? %> 
      <%= link_to 'Add Transaction', new_transaction_path(current_user), class: 'rounded-lg bg-indigo-500 mr-10 text-white p-2' %>
      <%= link_to 'Add Income', new_income_path(current_user), class: 'rounded-lg bg-indigo-500 mr-10 text-white p-2' %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
      <% else %>
        <%= button_to "Sign in", new_user_session_path %> 
      <% end %>
    </div>
  </div>

  <div class='w-1/3 border-2 h-full border-white backdrop-filter backdrop-blur-sm bg-white/10 mt-12 flex flex-col items-center p-5 rounded-lg'>
    <%= simple_form_for :search, url: root_path, method: "GET" do |f| %>
      <div class='flex flex-row items-center'>
        <%= f.date_select :year, { discard_day: true}, class: 'mr-4 rounded-lg border-white' %>
        <div class="actions">
          <%= f.button :submit, "Search", class: 'bg-indigo-500 rounded-lg p-2 text-white' %>
        </div>
      </div>
    <% end %>
    <div class="mt-10 w-full">   
        <h3 class='w-full flex flex-row justify-between mb-5'>Income <span class='text-green-500'>+<%= @income&.total %></span></h3>   
        <h3 class='w-full flex flex-row justify-between mb-5'>Transaction <span class='text-red-500'>-<%= @transaction&.total %></span></h3>   
        <h3 class='w-full flex flex-row justify-between mb-5'>Balance <span class='text-blue-500'><%= @income&.total.to_f - @transaction&.total.to_f %></span></h3>    
        <div class='flex flex-col justify-center items-center'>
          <h1 class='text-3xl text-bold text-white mb-4'>Expenses</h1>
          <table class='w-full bg-white rounded_lg'>   
            <thead>   
              <tr>      
                <td class='text-left p-2 font-bold'>Name</td>   
                <td class='text-left p-2 font-bold'>Amount</td>     
              </tr>   
            </thead>   
            <tbody>    
                <% @transaction&.expenses&.each do |expense| %>   
                  <tr class="border-2" >   
                    <td class='text-left p-2'><%= expense.name %></td>   
                    <td class='text-left p-2'><%= expense.amount %></td>    
                  </tr> 
                <% end %>    
            </tbody>   
          </table>   
        </div>
    </div>
  </div>  
</div>

