<div class="container">        
      <div>   
        <%= link_to 'Add Transaction', new_transaction_path %>   
      </div>   
      <br>   
    <div>
      <h1>Transactions</h1>
      <table class='table-auto' border="2">   
        <thead>   
          <tr>      
            <th>Total</th>   
            <th>Month</th>   
            <th>Year</th>  

          </tr>   
        </thead>   
        <tbody>   
          <% @transaction.each do |item| %>   
                <td><%= item.total %></td>   
                <td><%= item.month %></td>   
                <td><%= item.year %></td>   
                <td>
                  <%= link_to 'Edit', edit_transaction_path(item) %>   
                  <%= link_to 'Delete', transactions_path(item), method: :delete %>  
                </td>  
          <% end %>   
        </tbody>   
      </table>   
    </div>
</div>  