<%= simple_form_for @transaction do |form| %>
  <table border='2'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>File Upload</th>
        </tr>
      </thead>
      <tbody>
      <%= form.simple_fields_for :expenses do |expense| %>
        <tr>
            <td><%= expense.input :name, label: false %></td>
            <td><%= expense.input :amount, label: false %> </td>
            <td><%= expense.input :file_upload, label: false %> </td>
        </tr>
      <% end %>
      </tbody>
  </table>

  <div class="actions">
    <%= link_to 'Back', {controller: 'transactions', action: 'index'} %>
    <%= form.button :submit %>
  </div>
<% end %>
