<%= form_with(model: [@transaction, expense], local: true) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expensive.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div>   
        <p>   
            <%# <%= "<div>#{@expense.errors.full_messages.first}</div>".html_safe if @expense.errors.any? %>    %>
            <div>   
                <label>Name</label>   
                <%= f.text_field :name %>   
            </div>   
    
            <div>   
                <label>Amount</label>   
                <%= f.text_field :amount %>   
            </div>   
    
            <div>   
                <label>File Upload</label>   
                <%= f.text_field :file_upload %>   
            </div>   
        </p>   
    </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>