<%= form_with(model: [@transaction, expense], id: "#{dom_id(expense)}_form") do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='flex flex-col h-1/4 w-full mb-6'>
    <h1 class='text-3xl mb-4 font-serif'>Your Expenses</h1>  
    <div class='flex flex-row items-center w-full rounded-lg shadow-md p-5'>
      <div class='flex flex-col justify-center w-1/6 items-center mr-4'>
        <%= form.label :name, class: "sr-only" %>
        <%= form.text_field :name, class: "rounded-lg border-indigo-500 text-indigo-500 w-full", placeholder: "Expense name..." %>
      </div>
      <div class='flex flex-col justify-center w-1/6 items-center mr-4'>
        <%= form.label :amount, class: "sr-only" %>
        <%= form.text_field :amount, class: "rounded-lg border-indigo-500 text-indigo-500 w-full", placeholder: "Amount..." %>
      </div>
      <div class='flex flex-col justify-center w-1/6 items-center'>
        <%= form.submit class: "bg-indigo-500 rounded-lg p-2 text-white h-fit" %>
      </div>
    </div>  
  </div>
<% end %>