<div class="container">   
  
<%= form_for @expense, url: {action: :update} do |f| %>   
     
   <h3>Add Expense</h3>   
 <%= "<div>#{@expense.errors.full_messages.first}</div>".html_safe if @expense.errors.any? %>   
    <p>   
  
     <div>   
            <label>Name</label>   
            <%= f.text_field :name %>   
     </div>   
  
     <div>   
            <label>Amount</label>   
            <%= f.text_field :amount %>   
     </div>   
        
     <div>   
            <label>File Upload</label>   
            <%= f.text_field :file_upload %>   
     </div>   
  
      </p>   
   <div>   
      <%= link_to 'Back', { controller: 'expenses', action: 'index'} %>   
      <%= f.submit 'Update Expense' %>   
    </div>   
<% end %>   